body {
 background: linear-gradient(-45deg, #ea76ac, #74efff, #9c27b0);
    background-size: 400% 400%;
    animation: gradient-bg 20s ease infinite;  font-family: sans-serif;
}

@keyframes gradient-bg {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


h1 {
  text-align: center;
  font-size: 36px;
background: #957DD1;
background: radial-gradient(ellipse farthest-corner at top left, #957DD1 48%, #7DEFF5 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;}

h2 {
  margin: 0 0 5px;
  font-size: 28px;

}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
}




.container {
  max-width: 600px;
  margin: 60px auto;
  background-color: white;
  padding: 30px;
  margin: auto;
  margin-top: 30px;
  box-shadow: 0px 7px 29px 0px #498277;
  border-radius: 10px;
}

.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-of-type {
  border: none;
}

.time {
  font-size: 48px;
  font-weight: bold;
   background: -webkit-linear-gradient(#9c27b0, #74efff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 36px;
}

.date {
  opacity: 0.7;
}


footer {
  text-align: center;
font-size: 18px;
color: rgba(0,0,0,0.8);
}



